.promo {
  &__container {
    display: grid;
    grid-template-columns: 1fr 660px;

    padding: 120px 0 60px;

    @include vp-1023 {
      padding: 99px 0 60px;
      grid-template-columns: 1fr 386px;

      img {
        width: 100%;
        height: 292px;
      }
    }

    @include vp-767 {
      padding: 70px 0 40px;
      grid-template-columns: 1fr;

      img {
        object-position: center;
        object-fit: cover;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 81px 78px 85px;
    color: $color-default-white;
    background-color: $color-torch-red;

    h2 {
      margin: 0;
      font-size: 82px;
      line-height: 78px;
      text-align: center;
    }

    p {
      margin: 0;
      margin-bottom: 10px;
      font-size: 18px;
      line-height: 27px;
    }

    @include vp-1023 {
      padding: 46px 45px 50px;
      width: 292px;
      height: 292px;

      h2 {
        padding-top: 6px;
        font-size: 48px;
        line-height: 46px;
      }

      p {
        font-size: 12px;
        line-height: 18px;
      }
    }

    @include vp-767 {
      width: 100%;
    }
  }

  &__wrapper {
    display: flex;
    gap: 50px;

    @include vp-1023 {
      gap: 29px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    dt {
      font-size: 18px;
      line-height: 27px;
    }

    dd {
      display: flex;
      gap: 7px;
      align-items: last baseline;
      margin: 4px 0 16px;
      font-size: 40px;
      font-weight: 700;
      line-height: 46px;

      border-top: 1px solid $color-default-white;
    }

    @include vp-1023 {
      dt {
        font-size: 12px;
        line-height: 18px;
      }

      dd {
        margin: -1px 0 -2px;
        gap: 3px;
        font-size: 24px;
        line-height: 36px;
      }
    }
  }

  &__date {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    @include vp-1023 {
      font-size: 10px;
      line-height: 12px;
    }
  }

  &__button {
    margin-top: auto;
    padding: 25px;
    border-width: 4px;

    &:hover,
    &:focus {
      color: $color-torch-red;
      background-color: $color-default-white;
      border-color: $color-default-white;
    }

    &:active {
      color: $color-persi-blue;
      background-color: $color-default-white;
      border-color: $color-default-white;
    }

    @include vp-1023 {
      font-size: 10px;
      line-height: 12px;
      border-width: 2px;
      padding: 13px;
    }
  }
}
